/*main css for about.html*/ 
:root {
    --primary-color: #fff; /* Deep Nile Blue background*/
    --secondary-color: #009DDC; /* Golden Papyrus buttons/highlights*/
    --accent-color: #f26430; /* Rich Brown headers/interactive elements*/
    --neutral-color: #6761a8; /* Soft Ivory text and readability*/
    --background-accent: #009b72; /* Muted Teal section deviders*/
  } 
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    margin: 0;
    top:0;
    left:0;
    background: var(--secondary-color);
    box-sizing: border-box;
  }
  header{
    position: fixed;
    width: 100%;
    height: fit-content;
    font-family: "Roboto", sans-serif;
    font-weight: 600; 
    font-size: 16px;
    z-index: 9999;
    border-bottom: 1px solid var(--neutral-color);
  }
  header .nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 20%;
    color: var(--neutral-color);
  }
  header .nav ul a{
    text-decoration: none;
    color: var(--neutral-color);
  }
  header .nav ul li img{
    margin-right: 70px;
    margin-left: -100px;
  } 
  